{{ define "main" }}
  <article class="mb-24 h-entry entry">
    <header>
      <!-- Title and Publication Date -->
      {{ if .Title }}
        <h1 class="text-xl font-bold p-name">
          <a class="u-url" href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h1>
        <span class="font-sans">
          <time
            class="dt-published"
            datetime="{{ .PublishDate.Format "2006-01-02 15:04:05 -0700" }}"
          >
            {{ humanize (dateFormat "Monday, 2 Jan" .PublishDate) }}
          </time>
        </span>
      {{ else }}
        <h1 class="font-bold">
          <time
            class="dt-published"
            datetime="{{ .PublishDate.Format "2006-01-02 15:04:05 -0700" }}"
          >
            <a class="u-url" href="{{ .RelPermalink }}">
              {{ humanize (dateFormat "Monday, 2 Jan" .PublishDate) }}
            </a>
          </time>
        </h1>
      {{ end }}

      {{ partial "post-categories.html" . }}


      <!-- 
            H-card that is used for IndieWeb 

            I couldn't get it to work wiht just linking to the author at the homepage. A lot of services didn't manage to follow the link and get the author from the homepage instead of on this post page.
        -->

      <p style="display: none" class="u-author h-card" rel="me">
        <a class="u-url" href="/about/">
          <img
            class="u-photo"
            src="{{ .Site.Author.avatar }}"
            width="96"
            height="96"
          />
        </a>

        <span class="p-name" rel="me">{{ .Site.Author.name }}</span>
        <span class="p-role">{{ .Site.Params.description | safeHTML }}</span>
      </p>
    </header>

    <div class="e-content entry-body">{{ .Content }}</div>
  </article>

  {{ if or (templates.Exists "partials/reply-by-email.html") (templates.Exists "partials/conversation-link.html") (templates.Exists "partials/plugin_tinylytics.html") }}
    <div class="space-y-32 reply-buttons">
      <ul class="list-none pl-0 inline whitespace-nowrap mr-1 leading-8">
        {{ if templates.Exists "partials/plugin_tinylytics.html" }}
          <li><button class="tinylytics_kudos">Kudos</button></li>
        {{ end }}
        {{ if templates.Exists "partials/reply-by-email.html" }}
          <li>{{ partial "reply-by-email.html" . }}</li>
        {{ end }}
        {{ if templates.Exists "partials/conversation-link.html" }}
          <li>{{ partial "conversation-link.html" . }}</li>
        {{ end }}
      </ul>
    </div>
  {{ end }}

  {{ if .Site.Params.include_conversation }}
    <script
      type="text/javascript"
      src="https://micro.blog/conversation.js?url={{ .Permalink }}"
    ></script>
  {{ end }}

{{ end }}
