{{ define "main" }}
  <header>
    <div class="u-photo">
      <a href="/"
        ><img
          class="rounded-full"
          src="{{ .Site.Author.avatar }}"
          alt="{{ .Site.Title }} Profile Photo"
          width="96"
          height="96"
      /></a>
    </div>

    <div class="my-4">
      <h1 class="text-4xl font-bold font-sans">{{ .Site.Title }}</h1>
      <p class="my-4">{{ .Site.Params.itunes_description | safeHTML }}</p>
    </div>
  </header>

  <ul
    class="h-feed space-y-32 mt-24 pt-24 md:mt-32 md:pt-32 border-t dark:border-slate-700"
  >
    {{ if or .IsHome .Site.Params.paginate_categories }}
      {{ $paginator := .Paginate (where .Site.Pages.ByDate.Reverse "Type" "post") }}
      {{ $list := $paginator.Pages }}
      {{ range $list }}
        {{ partial "entry.html" . }}
      {{ end }}
    {{ else }}
      {{ $list := where .Site.Pages.ByDate.Reverse "Type" "post" }}
      {{ range $list }}
        {{ partial "entry.html" . }}
      {{ end }}
    {{ end }}
  </ul>

  <!-- H-card that is used for IndieWeb -->
  <div style="display: none" class="h-card" rel="me">
    <a class="u-url" href="/about/">
      <img
        id="avatar"
        class="u-photo"
        src="{{ .Site.Author.avatar }}"
        width="96"
        height="96"
      />
    </a>
    <h1 class="p-name" rel="me">{{ .Site.Author.name }}</h1>
    <h4 class="p-role">{{ .Site.Params.description | safeHTML }}</h4>
  </div>
{{ end }}
